*.class

/badgedata

# Package Files #
*.jar
*.war
*.ear
/bin


# Maven Files #
/target

# Eclipse Files #
/.settings
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
.idea/workspace.xml
.idea/libraries
